:root {
  --Red: hsl(0, 100%, 66%);
  --white: #ffffff;
  --Light-grayish-violet: #dedddf;
  --Dark-grayish-violet: #8e8593;
  --very-dark-violet: #21092f
}

.body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.section-card {
  height: 40%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-card__background {
  height: 100%;
  width: 100%;
}

.section-card__background>img {
  width: 100%;
  height: 85%;
}

.card-front__container {
  position: absolute;
  bottom: 0;
  height: 55%;
  width: 80%;
  left: 20px;
  z-index: 20;
}

.card-front {
  height: 100%;
  width: 100%;
}

.card-back__container {
  position: absolute;
  z-index: 20;
  height: 55%;
  width: 80%;
  top: 25px;
  right: 20px;
}

.cvc-back__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cvc-back {
  padding: 2rem;
  color: var(--Light-grayish-violet);
}

.card-back {
  width: 100%;
  height: 100%;
}

.main-form {
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 25px;
}

.main-form__input-container {
  width: 100%;
}

label {
  display: block;
  color: var(--very-dark-violet);
  text-transform: uppercase;
  margin-bottom: 6px;
}

input,
button {
  width: 100%;
  outline: none;
  padding: 1rem;
  border: none;
  border: var(--Light-grayish-violet) 1px solid;
  border-radius: 8px;
}

.cardholder-name-border {
  width: 100%;
  height: 69%;
  padding: 1px;
  background: linear-gradient(to right, #6448fe, #600594);
  border-radius: 9px;
}

button {
  background-color: var(--very-dark-violet);
  color: var(--Light-grayish-violet);
}

button:hover {
  cursor: pointer;
}

.main-form__input-container-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-container {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cvc-container {
  width: 40%;
}

.card-front__container__information_card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.burbles {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  height: 50%;
  width: 100%
}

.bubble-fill {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
}

.bubble-not-fill {
  width: 20px;
  height: 20px;
  top: 18%;
  left: 32%;
  border: solid #fff 2px;
  border-radius: 50%;
}

.card-front__container__information_card__content-info {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--Light-grayish-violet);
}

.card-front__container__information_card__content-info__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-number-content {
  font-size: 22px;
}

.input-error {
  border: var();
}